.partners {
  background-image: url("../images/partners-bg.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1440 / 618;
}

.partners__titel {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.06;
  text-align: center;
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 3rem;
}
.parters__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.3;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  max-width: 72rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}
.partners__grid {
  max-width: 111rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 0 auto;
}

.partners__img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media (max-width: 992px) {
  .partners__grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .partners__grid img {
    width: 40rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .partners__grid {
    grid-template-columns: 1fr;
  }

  .partners__grid img {
    width: 60rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 576px) {
  .partners__grid img {
    width: 50rem;
  }
}
